In [2]:
import pandas as pd
import numpy as np

In [9]:
cell_values = [[1,2,3,4],[1,np.NAN,np.NAN,np.NAN],["one","two",np.NAN,"four"]]

In [12]:
_int_columns = np.arange(start=1, stop=len(cell_values[0]) + 1)
_label_columns = ["one","two","three","four"]

df = pd.DataFrame(
    cell_values, 
    columns = _label_columns
)
df

   one  two  three  four
0    1    2    3.0     4
1    1  NaN    NaN   NaN
2  one  two    NaN  four

In [44]:
def _r_complete(value) -> bool: 
    """_r_complete checkout values for row completeness

    Args:
        value (_type_): the value of the row to check

    Returns:
        bool: whether data is complete
    """

    match value: 
        case _ if pd.isnull(value): 
            return True
        case "-": 
            return True
        case "": 
            return True
        case _: 
            return False


row_complete = pd.DataFrame(df.isnull().sum(axis=1)/len(df))\
    .reset_index()\
    .rename({0: "completeness","index": "row"}, axis='columns')

row_complete

   row  completeness
0    0      0.000000
1    1      1.000000
2    2      0.333333

In [28]:
pd.DataFrame(df.isnull().sum()/len(df))\
    .reset_index()\
    .rename({0: "comleteness","index":"column"}, axis='columns')

  column  comleteness
0    one     0.000000
1    two     0.333333
2  three     0.666667
3   four     0.333333